<div class="container">

  <h5>Creation Date</h5>

  <div class="filter">
    <input type="date" [(ngModel)]="fromDate" />
    <span class="dash"> — </span>
    <input type="date" [(ngModel)]="toDate" />

    <button class="apply" (click)="applyFilter()">APPLY</button>
    <button class="reset" (click)="resetFilter()">RESET</button>
  </div>

  <table>

    <thead>
      <tr>
        <th></th>
        <!-- <th (click)="sort('title')">Name</th>
        <th (click)="sort('creationDate')">Creation Date</th> -->

<th (click)="sort('title')">
    Name <span id="nameArrow" class="caret"></span>
</th>

<th (click)="sort('creationDate')">
    Creation Date <span id="dateArrow" class="caret"></span>
</th>


        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let todo of todos$ | async; trackBy: trackById" [class.completed-row]="todo.completed">

        <!-- Checkbox + Edit -->
        <td>
          <div class="action-cell">

            <input type="checkbox" [ngModel]="todo.completed" (ngModelChange)="toggleComplete(todo, $event)" />

            <span class="edit" (click)="openSidebar(todo)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
              </svg>
            </span>

          </div>
        </td>

        <!-- Name -->
        <td (click)="openSidebar(todo)">
          {{ todo.title }}
        </td>

        <!-- Date -->
        <td>
          {{ todo.creationDate | date:'dd/MM/yyyy' }}
        </td>

        <!-- Delete -->
        <td>
          <span class="delete" (click)="delete(todo.id)">
            🗑
          </span>
        </td>

      </tr>
    </tbody>

  </table>

</div>


<!-- Sidebar -->
<div class="sidebar" [class.active]="selectedTodo !== null">

  <h3>Description</h3>

  <textarea *ngIf="selectedTodo" [(ngModel)]="selectedTodo.description">
  </textarea>

  <div class="buttons">
    <button class="save" (click)="save()">SAVE</button>
    <button class="close" (click)="closeSidebar()">CLOSE</button>
  </div>

</div>